@using TenderApp.Models.BusinessModels
@model IEnumerable<SubGroup>

@{
    ViewData["Title"] = "ManageSubs";
    }

@foreach (SubGroup s in Model.OrderBy(S => -S.Priority))
{
    <div>
        <a class="btn btn-primary" data-toggle="collapse" href="#@s.Name" aria-expanded="false" aria-controls="collapseExample">
            @s.Name
        </a>
        <span>
            @{ 
                string text = s.ForType.ToString();
            }
            @text
        </span>
        <form asp-action="DeleteSubGroup">
            <input type="hidden" name="groupId" value="@s.SubGroupId" />
            <input type="submit" class="btn btn-primary" value="Удалить группу полей">
        </form>
    </div>

    <div class="collapse" id="@s.Name">
        <div class="card card-block">
            <table>
                @foreach(Sub sub in s.Subs.OrderBy(S=> -S.Priority))
                {
                    <tr>
                        <td>
                            @sub.Name
                        </td>
                        <td>
                            @{ 
                                string Text = "";
                                switch ((int)sub.Type)
                                {
                                    case 0:Text = "TextBox";break;
                                    case 1:Text = "TextArea";break;
                                    case 2:Text = "Image";break;
                                }
                                Html.DisplayText(Text);
                            }   
                        </td>
                        <td>
                            @Html.ActionLink("Удалить поле", "DeleteSub", "Admin", sub, new { @class = "btn btn-default" })
                            @Html.ActionLink("Редактировать поле", "EditSub", "Admin", sub, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                }
            </table>
            @*@Html.ActionLink("Добавить поле", "CreateSubFor", "Admin", s, new { @class = "btn btn-block btn-default btn-lg" })*@
            @Html.Hidden("SubGroupIdHidden", s.SubGroupId,new { @class="SubGroupIdHidden" })
            <button class="btn btn-block btn-default btn-lg CreateSubButton" type="button" data-toggle="collapse" data-target="#SubCreater" aria-expanded="false" aria-controls="SubCreater">Добавить поле</button>
        </div>
    </div>
}

<button class="btn btn-primary" type="button" id="SubGroupCreaterButton" data-toggle="collapse" data-target="#SubGroupCreater" aria-expanded="false" aria-controls="SubGroupCreater">Добавить группу полей</button>

<div id="SubGroupCreater" class="collapse">
    @Html.Partial("CreateSubGroup",new SubGroup())
</div>

<div id="SubCreater" class="collapse">
    @Html.Partial("CreateSub",new Sub())
</div>

